html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
    box-sizing: border-box;
}


.nav {
	position: sticky;
	top: 200px;
	vertical-align:top;
	width: 100%;
	height: 80px;

}


.logo {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-top: 13px;
	height: 100%;
	width: 157px;
	
}

.logo img {
	transform: scale(.5); 
	display:inline-block; 
	position: relative; 
	left: -22px;
	
}
.search-bar {
	border-style: solid;
	vertical-align: top;
	border-width: 0.5px;
	border-color: rgb(230, 230, 230);
	display: inline-block;
	position: relative;
	margin-top: 20px;
	padding-left: 1.2em;
	line-height: 2.9em;
	height: 2.9em;
	width: 690px;
	border-radius: 50px;
	font-size: 16px;
	font-family: roboto;
}

.search-grid {
	display: grid;
	grid-template-columns: 525px 1.2fr 1fr 1fr;
	align-items: center;
	justify-items: center;
}

.search-box {
	grid-row: 1 / 2;
	justify-self: start;
}
.search-cancel {
	border-right-style: solid;
	border-right-width: 0.5px;
	border-right-color:rgb(230, 230, 230);
	grid-column: 2 / 3;
	width: 100%;
	height: 60%;
	
}

.search-cancel img {
	color: rgb(200, 200, 200); 
	display:block;
	transform:scale(1.5);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 6px;
}
.search-mic {
	grid-column: 3/4;
}

.search-search {
	grid-column: 4/5;

}

.options {
	display: inline-block;
	position: relative;
	height: 100%;
	margin-left: 61.7%;
	margin-top: 22px;

}
.options-grid {
	display: grid;
	grid-template-rows: 7px 7px 7px;
	grid-template-columns: 7px 7px 7px;
	justify-items: center;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	justify-content: center;
	align-content:center;
	align-items: center;
}

.options-grid:hover {
	background: rgba(240, 240, 240);
}

.grid-dot-1 {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgb(100, 100, 100);
	grid-row: 1 / 2;
	grid-column: 1 / 2;

}

.grid-dot-2 {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgb(100, 100, 100);
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}
.grid-dot-3 {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgb(100, 100, 100);
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}
.grid-dot-4 {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgb(100, 100, 100);
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}
.grid-dot-5 {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgb(100, 100, 100);
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.grid-dot-6 {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgb(100, 100, 100);
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}
.grid-dot-7 {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgb(100, 100, 100);
	grid-row: 1 / 2;
	grid-column: 3 / 4;
}
.grid-dot-8 {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgb(100, 100, 100);
	grid-row: 2 / 3;
	grid-column: 3 / 4;
}
.grid-dot-9 {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: rgb(100, 100, 100);
	grid-row: 3 / 4;
	grid-column: 3 / 4;

}


.profile {
	display: inline-block;
	position: relative;
	height: 100%;
	vertical-align: top;
	margin-top: 8px;
	width: 46px;
}
.profile img {
	display: block;
	transform: scale(0.5) translateY(-17px) translateX(-40px);
}